body{
  margin:0;
  font-family:Inter,sans-serif;
  background:#f1f5f9;
}

body.dark{
  background:#0f172a;
  color:white;
}

.topbar,.toolbar{
  background:#2563eb;
  color:white;
  padding:10px;
  text-align:center;
}

.toolbar button{
  margin:5px;
}

.page{display:none}
.page.active{display:block}

.wallet-card{
  background:#3b82f6;
  color:white;
  padding:15px;
  margin:10px;
  border-radius:10px;
  display:flex;
  justify-content:space-between;
}
