body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f4f8;
  text-align: center;
}

body.dark {
  background: #121212;
  color: white;
}

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input, button {
  padding: 10px;
  margin: 6px auto;
  width: 220px;
}

header {
  background: #2563eb;
  color: white;
  padding: 10px;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background: #ddd;
}

nav button {
  flex: 1;
}

.page {
  display: none;
}

.page.active {
  display: block;
}
